button {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 22px;;
   width: 200px;
   padding:auto;
   border-style: solid;
   background-color: white;
   border-width: 1.2mm;

   
}

div#autor {
   width: 500px;
   font-family: 'Plus Jakarta Sans', sans-serif;
   font-weight: bold ;
}
